# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Environments
.venv/
env/
venv/
ENV/

# Media files & Subtitles (Generated or input assets)
*.mp4
*.srt

# IDE settings
.vscode/

# OS metadata
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
